- if @personal_view
  = render "index_personal"
- else
  = render "index_public"

%br/
%br/

- if user_signed_in?
  = link_to 'Neues Profil anlegen', new_profile_path
- else
  = link_to "Login", new_session_path("user")
  oder 
  = link_to "Registrieren", new_registration_path("user")
  um ein eigenes Profil anzulegen.
