%h3 Ihre Profile



%table
  %tr
    %th Typ
    %th Name

  - @profiles.each do |profile|
    %tr
      %td= profile.human_name_type
      %td= profile.name
      %td= link_to 'Ändern', edit_profile_path(profile)
      %td= link_to 'Löschen', profile.becomes(Profile), :confirm => 'Wirklich löschen?', :method => :delete

%br

= link_to 'Neues Profil anlegen', new_profile_path
