%p
  = image_tag @profile.logo.url(:huge) if @profile.logo_file_name
%p
  - if @profile.company_name
    %b
      Firma:
    = @profile.company_name
  - if @profile.class==ProfilePerson
    %br/
    %b
      Name:
    = @profile.person_name

%hr/

%p
  %b Straße:
  = @profile.street

%p
  %b PLZ:
  = @profile.zip_code

%p
  %b Stadt:
  = @profile.city

%p
  %b Homepage:
  = link_to @profile.homepage, @profile.homepage_with_http, :target => "_blank"

%p
  %b Telefon:
  = @profile.phone

%hr/

%p
  %b Projektbeginn:
  = @profile.human_available_from
%p
  %b Projektdauer:
  = @profile.human_available_to

%hr/

%p
  %b Sehr gute Kenntnisse:
  = @profile.high_skill_list
%p
  %b Durchschnittliche Kenntnisse:
  = @profile.average_skill_list

%p
  %b Beschreibung über sich selbst:
  = raw BlueCloth.new(@profile.about, :auto_links => true, :smartypants => true).to_html

= link_to 'Zurück', profiles_path
- if user_signed_in? and @profile.user==current_user
  |
  = link_to 'Ändern', edit_profile_path(@profile)
