- @p=@profile
%p
- if @profile.company_name
  %b
    Firma:
    = @profile.company_name
- if @profile.class==ProfilePerson
  %b
    Name:
    = @profile.person_name

%p
  %b Zip code:
  = @profile.zip_code
%p
  %b Stadt:
  = @profile.city

= link_to 'Zurück', profiles_path
