!!! XML
!!!
%html{:dir => "ltr", :lang => "de-DE", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head{ :profile => "http://gmpg.org/xfn/11" }
    %meta{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}/ 
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/ 
    %title LessCode - Pragma statt Dogma, agile Entwicklung, agile Technoligien, Grails, Ruby on Rails 3, Java, Scrum
    %meta{:content => "Agile Development, Scrum, Tools, Ruby on Rails, Grails, Java", :name => "description"}/ 
    %meta{:content => "Agile Development, agile Entwicklung, Dienstleister, Scrum, Tools, Ruby on Rails 3, Grails, Java, Scrum", :name => "keywords"}/ 
    = stylesheet_link_tag 'gp2/style.css', :media => 'screen, projection'
    = stylesheet_link_tag 'scaffold.css', :media => 'screen, projection'
    /[if IE 6]
      = stylesheet_link_tag 'gp2/ie6.css', :media => 'screen, projection'
    -#  = stylesheet_link_tag 'screen', :media => 'screen, projection'
    = stylesheet_link_tag 'print', :media => 'print'
    = csrf_meta_tag
  %body{:id=>"home"}
    #header.clearfix
      %ul#accessibility
        %li
          = link_to "Home", "/"
        = render 'layouts/registration_items'
        = render 'layouts/login_items'
      #branding
        %h1#logo
          = link_to "LessCode", "/"
        .description
          Pragma statt Dogma &ndash; Mit weniger Code mehr erreichen
      #nav.clearfix
        #nav-search
          %form#searchform{:action => "http://www.lesscode.de/", :method => "get", :role => "search"}
            %div
              %label.screen-reader-text{:for => "s"} Suche nach:
              %input#s{:name => "s", :type => "text", :value => ""}
              %input#searchsubmit{:type => "submit", :value => "Suchen"}
        %ul#menu
          %li.page_item
            %a{:href => "http://www.lesscode.de/", :title => "Home"} Home
          %li.page_item
            %a{:href => "http://www.lesscode.de/initiative/", :title => "Initiative"} Die Initiative
          %li.page_item.current_page_item
            %a{:href => "http://people.lesscode.de/", :title => "Initiative"} Projekt-Marktplatz
          %li.page_item
            %a{:href => "http://www.lesscode.de/gmbh/", :title => "telewebber GmbH"} telewebber GmbH
          %li.page_item
            %a{:href => "http://www.lesscode.de/blog/", :title => "Blog"} Blog
          %li.page_item
            %a{:href => "http://forum.lesscode.de", :title => "Forum"} Forum
          %li.page_item
            %a{:href => "http://www.lesscode.de/kontakt/", :title => "Kontakt"} Kontakt
        #submenu-bg
          %ul#submenu
            - @menu_items=profile_menu_items
            = render "layouts/submenu", :locals=>{:menu_items=>profile_menu_items}
    #main.clearfix
      #container
        #content
          #post-10000.hentry.post
            .entry
              #notice= notice
              #alert= alert
              = yield
      #sidebar
        %ul.sb-list.clearfix
          %li.widget
            .sb-title.widgettitle Sie haben ein Projekt zu vergeben?
            %p
              Wenn Sie ein agiles Projekt nach LessCode-Art durchführen möchten und dabei Unterstützung benötigen, dann finden Sie hier eine Liste von Dienstleistern.
          %li.widget
            .sb-title.widgettitle Sie suchen ein Projekt?
            %p
              Wenn Sie sich als Dienstleister von den hier vorgestellten LessCode-Prinzipien angespochen fühlen, können Sie sich
              - if user_signed_in?
                = link_to "hier", profiles_path(:personal=>true)
              - else
                = link_to "hier", new_session_path("user")
              eintragen und präsentieren. 
              %br/
              Kostenlos und unverbindlich.
    #footer.clearfix
      %p.alignright
        %a{:href => "http://www.lesscode.de/index.php/impressum", :title => "Impressum"} Impressum
        &nbsp; &nbsp; &nbsp; | &nbsp;
        %a.top-link{:href => "#home"} Nach oben
      %p
        \© 2010 LessCode  
        
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16868432-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    = javascript_include_tag :all